<%-include("../partials/adminheader")-%>
   
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Add Coupon </h2>
                    <p>Add, edit or delete a Coupon</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post" action="/admin/createCoupon">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">CouponCode</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="CouponCode" name="couponcode"/>
                                </div>
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">Coupon Description</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="Coupon Description" name="coupondescription" />
                                </div>
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">MIn OrderAmount</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="minAmount"  name="minorder"/>
                                </div>
                             
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">Max discount Amount</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="maxAmount"  name="maxdiscount"/>
                                </div>
                               
                                <div class="mb-4">
                                    <label for="validfrom" class="form-label">Valid from</label>
                                    <input type="date" class="form-control" id="validfrom" name="validfrom" />
                                </div>
                                
                                <div class="mb-4">
                                    <label for="validfrom" class="form-label">Valid To</label>
                                    <input type="date" class="form-control" id="validfrom" name="validto" />
                                </div>
                                
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create Coupon</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                          
                                            <th>couponCode</th>
                                            <th>Description</th>
                                            <th>discount percentage</th>

                                            <th>from date</th>
                                            <th>expiry date</th>
                                            <th>Status</th>
                                           
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% allCoupon.forEach((data, index) => { %>
                                        <tr>
                                          
                                            <td><%= data.couponCode %></td>
                                            <td><b><%= data.couponDiscription %></b></td>
                                            <td><%= data.discountPercentage %></td>
                                            <td><%= data.validFor %></td>
                                            <td><%= data.createdOn %></td>
                                            <td>
                                                <% if (data.isActive) { %>
                                                    <span class="badge rounded-pill bg-success">Active</span>
                                                <% } else { %>
                                                    <span class="badge rounded-pill bg-danger">Inactive</span>
                                                <% } %>
                                            </td>
                                            
                                            <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                      
                                                        <a class="dropdown-item" href="/admin/couponedit/<%= data._id %>">Edit info</a>
                                                        <% if (data.isActive) { %>
                                                            <a class="dropdown-item text-danger" href="/admin/deactivateCoupon/<%= data._id %>">Deactivate</a>
                                                        <% } else { %>
                                                            <a class="dropdown-item text-success" href="/admin/activateCoupon/<%= data._id %>">Activate</a>
                                                        <% } %>
                                                        
                                                    </div>
                                                </div> <!-- dropdown //end -->
                                            </td>
                                        </tr>
                                        <% }); %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <%-include("../partials/adminfooter")-%>