<%-include("../partials/adminheader")-%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
        <section class="content-main">
          <h1>Order list</h1>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="example">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <% order.forEach(order => { %>
                                        <% order.products.forEach(product => { %>
                                    <td>#<%= order.ord %></td>
                                    <td><b><%= order.userId.username %></b></td>
                                    <td><%= order.userId.email %></td>
                                    <td><%= product.quantity * product.productId.selling_price %></td>
                                    <td><span class="badge rounded-pill alert-warning"></span><%= order.orderStatus %></td>
                                    <td><span class="badge rounded-pill alert-warning"></span><%= product.productId.description %></td>
                                    <td><%= order.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                                    <td class="text-end">
                                        <a href="/admin/order_details/<%= order._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                    
                                    </td>
                                </tr>
                                <% }); %>
                                <% }); %>
                            
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <!-- <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav> -->
            <!-- </div> -->
            <script>
                $(document).ready(function () {
                    new DataTable('#example');
            
                })
            </script>
        </section> <!-- content-main end// -->
        <%-include("../partials/adminfooter")-%>