<%-include("../partials/adminheader")-%>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID:<%= order.ord %></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%= order.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></b>
                            </span> <br>
                            <small class="text-muted" ><%= order.ord %></small>
                            <small style="display: none;" id="orderid"><%= order._id %></small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <select id="orderStatusSelect" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                <option value="">Change status</option>
                                <option value="awaiting_payment">Awaiting payment</option>
                                <option value="confirmed">Confirmed</option>
                                <option value="shipped">Shipped</option>
                                <option value="delivered">Delivered</option>
                            </select>
                            <button class="btn btn-primary" id="saveStatus">Save</button>
                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                        </div>
                        
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= order.address.name %> <br><%= order.address.mobile %> 
                                    </p>
                                    <!-- <a href="#">View profile</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Fargo express <br> Pay method:cash on delivery<br> Status: <%= order.orderStatus %> 
                                    </p>
                                    <!-- <a href="#">Download info</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        <%= order.address.city %> <br><%= order.address.homeAddress %> <br> <%= order.address.postalCode %>
                                    </p>
                                    <!-- <a href="#">View profile</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            <% order.products.forEach(product => { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="<%= product.productId.images[0] %>" width="40" height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info"><%= product.productId.name %> </div>
                                                </a>
                                            </td>
                                            <td><%= product.productId.selling_price %> </td>
                                            <td> <%= product.quantity %> </td>
                                            <td class="text-end"><%= product.productId.selling_price * product.quantity %></td>
                                        </tr>
                                    
                                        <% }); %>
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd><%=locals.totalPrice ? totalPrice:''%></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>Rs 0.00</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5"><%=locals.totalPrice ? totalPrice:''%></b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill <%= order.orderStatus === 'Cancelled' ? 'alert-danger text-danger' : 'alert-success text-success' %>">
                                                              <%= order.orderStatus %> 
                                                            </span>
                                                          </dd>
                                                          
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <!-- <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="/adminassets/assets/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                    Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52
                                </p>
                            </div> -->
                            <!-- <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Notes</label>
                                    <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                </div>
                                <button class="btn btn-primary">Save note</button>
                            </div> -->
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->

        <script>
            const saveStatusButton = document.getElementById('saveStatus');
const orderStatusSelect = document.getElementById('orderStatusSelect');

saveStatusButton.addEventListener('click', async () => {
  const selectedStatus = orderStatusSelect.value;
  if (selectedStatus) {
    const orderId = document.getElementById("orderid").innerHTML

    try {
      const response = await fetch(`/admin/update-order-status/${orderId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ orderStatus: selectedStatus })
      }).then(response => response.json())
    .then(data => {
      
        if (data.redirectUrl) {
        // Redirect to the specified URL
        window.location.href = data.redirectUrl;
      }
    })

      
    } catch (error) {
      console.error('Error updating order status:', error);
    }
  } else {
    console.log('Please select a valid status.');
  }
});
 </script>
        <%-include("../partials/adminfooter")-%>