<%-include("../partials/adminheader")-%>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        new DataTable('#example');

    })
</script>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                  
                </div>
                <!-- <div>
                    <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a>
                    <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
                </div> -->
            </div>
            <div class="card mb-4">
                <!-- <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Running Shoes</option>
                                <option>Spikes</option>
                                <option>Football Boots</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                               <button id="status"><option selected >Status</option></button> 
                               <button id="blocked"><option selected >blocked</option></button> 
                               <button id="unblocked"><option selected >unblocked</option></button> 
                              
                            </select>
                        </div>
                    </div>
                </header> 
               -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                            <table class="table" id="example">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Stock</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(product => { %>
                                        <tr>
                                            <td>
                                                <img src="<%= product.images[0] %>" style="max-width: 50px; max-height: 50px; width: auto;height: auto;" />
                                            </td>
                                            <td><%= product.selling_price %></td>
                                            <td>
                                                <span class="badge rounded-pill alert-success" id="statuslive"><%= product.status %></span>
                                            </td>
                                            <td><%= product.stock %></td>
                                            <td>
                                                <a href="/admin/edit-product/<%= product._id %>" class="btn btn-sm font-sm btn-success rounded">
                                                    <i class="material-icons md-delete_forever"></i> edit
                                                </a>
                                                <% if (product.status === 'unblocked') { %>
                                                    <a href="/admin/block_product/<%= product._id %>" class="btn btn-sm font-sm btn-danger rounded">
                                                        <i class="material-icons md-delete_forever"></i> block
                                                    </a>
                                                <% } else { %>
                                                    <a href="/admin/unblock_product/<%= product._id %>" class="btn btn-sm font-sm rounded btn-brand">
                                                        <i class="material-icons md-edit"></i> unblock
                                                    </a>
                                                <% } %>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                

                    
            
        </section> <!-- content-main end// -->
        <%-include("../partials/adminfooter")-%>

        <!-- <script>
           const blocked = document.getElementById('blocked');
           const unblocked=document.getElementById("unblocked")
           const status=document.getElementById("status");
           const statuslive=document.getElementById("statuslive").innerHTML

blocked.addEventListener('click', () => {
  // Add the desired CSS styles
  status.style.backgroundColor = 'red';
  if(statuslive=="block"){
    status.backgroundColor="red"
  }
 
});
unblocked.addEventListener("click",()=>{
    status.style.backgroundColor="green"
})
        </script> -->