<%-include("../partials/adminheader")-%>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        new DataTable('#example');

    })
</script>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                  
                </div>
               
            </div>
            <div class="card mb-4">
               
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                            <table class="table" id="example">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Stock</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(product => { %>
                                        <tr>
                                            <td>
                                                <img src="<%= product.images[0] %>" style="max-width: 50px; max-height: 50px; width: auto;height: auto;" />
                                            </td>
                                            <td><%= product.selling_price %></td>
                                            <td>
                                                <span class="badge rounded-pill alert-success" id="statuslive"><%= product.status %></span>
                                            </td>
                                            <td><%= product.stock %></td>
                                            <td>
                                                <a href="/admin/edit-product/<%= product._id %>" class="btn btn-sm font-sm btn-success rounded">
                                                    <i class="material-icons md-delete_forever"></i> edit
                                                </a>
                                                <% if (product.status === 'unblocked') { %>
                                                    <a href="/admin/block_product/<%= product._id %>" class="btn btn-sm font-sm btn-danger rounded">
                                                        <i class="material-icons md-delete_forever"></i> block
                                                    </a>
                                                <% } else { %>
                                                    <a href="/admin/unblock_product/<%= product._id %>" class="btn btn-sm font-sm rounded btn-brand">
                                                        <i class="material-icons md-edit"></i> unblock
                                                    </a>
                                                <% } %>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                

                    
            
        </section> <!-- content-main end// -->
        <%-include("../partials/adminfooter")-%>

       