<%-include("../partials/adminheader")-%>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a>
                    <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Running Shoes</option>
                                <option>Spikes</option>
                                <option>Football Boots</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                               <button id="status"><option selected >Status</option></button> 
                               <button id="blocked"><option selected >blocked</option></button> 
                               <button id="unblocked"><option selected >unblocked</option></button> 
                              
                            </select>
                        </div>
                    </div>
                </header> 
              
<div class="container">
    <div class="row">
        <% products.forEach(product=>{ %>
            <div class="col-lg-12 col-sm-12 col-12">
                <article class="card card-product">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 col-sm-2 col-4 col-price" style="max-width: 50px; max-height: 50px; width: auto;height: auto; display: flex;">
                                <a class="itemside" href="#">
                                    <div class="left" class="card-image">
                                         <img src="<%= product.images[0] %>"  
                                             style="max-width: 50px; max-height: 50px; width: auto;height: auto;" />
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-price gx-5">
                                <span><%= product.price %></span>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                 <span class="badge rounded-pill alert-success " id="statuslive"><%= product.status %></span>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-date">
                                <span><%= product.date %></span>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                <a href="/admin/unblock_product/<%= product._id %>" class="btn btn-sm font-sm rounded btn-brand">
                                    <i class="material-icons md-edit"></i> unblock
                                </a>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                <a href="/admin/block_product/<%= product._id %>" class="btn btn-sm font-sm btn-danger rounded">
                                    <i class="material-icons md-delete_forever " ></i> block
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        <% }); %>
    </div>
</div>

                    
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <%-include("../partials/adminfooter")-%>

        <!-- <script>
           const blocked = document.getElementById('blocked');
           const unblocked=document.getElementById("unblocked")
           const status=document.getElementById("status");
           const statuslive=document.getElementById("statuslive").innerHTML

blocked.addEventListener('click', () => {
  // Add the desired CSS styles
  status.style.backgroundColor = 'red';
  if(statuslive=="block"){
    status.backgroundColor="red"
  }
 
});
unblocked.addEventListener("click",()=>{
    status.style.backgroundColor="green"
})
        </script> -->