<%-include("../partials/adminheader")-%>

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <!-- <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div> -->
                    </div>
                </div>
                <form action="/admin/uploadEditedProduct" method="POST" enctype="multipart/form-data">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_title"   name="name"
                                required
                                value="<%= product.name %>">
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_sku" class="form-label">size</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_sku" name="size"
                                    required
                                    value="<%= product.size %>">
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">price</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_color"  name="price"
                                    required
                                    value="<%= product.price %>">
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">selling price</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_size" name="selling_price" required
                                    value="<%= product.selling_price %>">>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="product_brand" class="form-label">Brand</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_brand" name="brand" required
                                value="<%= product.brand %>">
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="product_brand" class="form-label">stock</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_brand" name="stock" required
                            value="<%= product.stock %>">
                        </div>
                    </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" name="description" required
                                value="<%= product.description %>"></textarea>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Images</label>
                                <input
                                type="file"
                                id="productImage"
                                name="images"
                                accept="image/*"
                                multiple
                                required
                              />
                            </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                       
                            <div class="mb-4">
                                <label class="form-label">gender</label>
                                <input type="text" placeholder="Type here" class="form-control" name="gender" required
                                value="<%= product.gender %>">
                               
                            </div>
                            
                            
                            <h5 class="mb-3">Categories</h5>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox"
                                required
                                value="football boots"
                                name="category"
                                onclick="updateInput(this, 'product-cat-input')">
                              <label class="form-check-label" for="product-cat"> football boots </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox"
                                value="runing shoes"
                                id="product-cat-1"
                                name="category"
                                onclick="updateInput(this, 'product-cat-input')">
                              <label class="form-check-label" for="product-cat-1"> running shoes </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox"
                                value="spikes"
                                id="product-cat-2"
                                name="category"
                                onclick="updateInput(this, 'product-cat-input')">
                              <label class="form-check-label" for="product-cat-2"> spikes </label>
                            </div>
                            
                            <!-- Input box to display the selected category -->
                            <input type="text" id="product-cat-input" readonly>
                    
                        </div>
                        <button type="submit" class="btn btn-primary">submit</button>
                    </form>
                    </div> 
                </div>
            </div>
        </section>

        <script>
            function updateInput(checkbox, inputId) {
              const inputValue = document.getElementById(inputId);
              if (checkbox.checked) {
                inputValue.value += checkbox.value + ', '; // Add selected category
              } else {
                inputValue.value = inputValue.value.replace(checkbox.value + ', ', ''); // Remove unselected category
              }
            }
          </script>
<%-include("../partials/adminfooter")-%>