<%-include("../partials/userheader")-%>

<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminassets/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminassets/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
   
    
    <main class="main-wrap">
   
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: 3453012</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b>
                            </span> <br>
                            <small class="text-muted">Order ID:  <%= order.ord %> </small>
                            <small style="display: none;" id="orderid"><%= order._id %></small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <select id="orderStatusSelect" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                <% if (order.orderStatus === 'delivered') { %>
                                    <option value="Return">Return</option>
                                  <% } else if (order.orderStatus === 'Cancelled') { %>

                                    <% } else if (order.orderStatus === 'Confirmed' ) { %>
                                        <option value="Cancelled">Cancell</option>
                                   
                                  <% } %>
                                  
                        
                            </select>
                            <button class="btn btn-primary" id="saveStatus">Save</button>
                            <a class="btn btn-secondary print ms-2" id="invoice"><i class="icon material-icons md-print"></i></a>
                          </div>
                          
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= order.address.name %>  <br>  <%= order.address.mobile %> 
                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order Status</h6>
                                    <p class="mb-1">
                                        Status:  <%= order.orderStatus %> 
                                    </p>
                                    
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver Address</h6>
                                    <p class="mb-1">
                                        <%= order.address.homeAddress %>  <br><%= order.address.city %> <br> <%= order.address.postalCode %> 
                                    </p>
                                    <!-- <a href="#">View profile</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% order.products.forEach(product => { %>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="<%= product.images[0] %>" width="40" height="40" class="img-xs" alt="Item">
                                                        </div>
                                                        <div class="info"><%= product.productId.name %> </div>
                                                    </a>
                                                </td>
                                                <td><%= product.price%> </td>
                                                <td> <%= product.quantity %> </td>
                                                <td class="text-end"><%= product.price * product.quantity %></td>
                                            </tr>
                                        
                                            <% }); %>
                                        </tr>
                                        
                                      
                                       
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd><%=locals.totalPrice ? totalPrice:''%></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>Rs 0.00</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5"><%=locals.totalPrice ? totalPrice:''%></b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill <%= order.orderStatus === 'Cancelled' ? 'alert-danger text-danger' : 'alert-success text-success' %>">
                                                              <%= order.orderStatus %> 
                                                            </span>
                                                          </dd>
                                                          
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="/adminassets/assets/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                    Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52
                                </p>
                            </div>
                            <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Notes</label>
                                    <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                </div>
                                <button class="btn btn-primary">Save note</button>
                            </div>
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
       
    </main>
    <script src="/adminassets/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminassets/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminassets/assets/js/vendors/select2.min.js"></script>
    <script src="/adminassets/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminassets/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminassets/assets/js/main.js" type="text/javascript"></script>
</body>
<script>
    const saveStatusButton = document.getElementById('saveStatus');
const orderStatusSelect = document.getElementById('orderStatusSelect');

saveStatusButton.addEventListener('click', async () => {
const selectedStatus = orderStatusSelect.value;
if (selectedStatus) {
const orderId = document.getElementById("orderid").innerHTML

try {
const response = await fetch(`/orderUpdatedStatusDetails/${orderId}`, {
method: 'POST',
headers: {
  'Content-Type': 'application/json'
},
body: JSON.stringify({ orderStatus: selectedStatus })
}).then(response => response.json())
.then(data => {

if (data.redirectUrl) {
// Redirect to the specified URL
window.location.href = data.redirectUrl;
}
})


} catch (error) {
console.error('Error updating order status:', error);
}
} else {
console.log('Please select a valid status.');
}
});

document.getElementById("invoice").addEventListener("click",()=>{
    window.print()
})
</script>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>