<%-include("../partials/userheader")-%>


<body>
  <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              CATEGORY
            </h5>
            <ul class="categories">
              <% categorydata.forEach(category => { %>
                
                <li><a href="/productCategory/<%= category._id %>"><%= category.name %></a></li>
              <% }); %>
             
              <!-- <li><a href="shop-grid-right.html">SPIKES</a></li>
              <li><a href="shop-grid-right.html"> BOOTS</a></li> -->
            </ul>
          </div>
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              BRANDS
            </h5>
            <ul class="categories">
              <li><a href="shop-grid-right.html">ADIDAS</a></li>
              <li><a href="shop-grid-right.html">NIKE</a></li>
              <li><a href="shop-grid-right.html"> PUMA</a></li>
              <li><a href="shop-grid-right.html">UNDER ARMOUR</a></li>
              <li><a href="shop-grid-right.html">ASICS</a></li>
            </ul>
          </div>
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              SORT BY
            </h5>
            <ul class="categories">
              <li><a href="shop-grid-right.html">POPULARITY</a></li>
              <li><a href="shop-grid-right.html">AVERAGE RATING</a></li>
              <li><a href="shop-grid-right.html">PRICE: LOW TO HIGH</a></li>
              <li><a href="shop-grid-right.html">PRICE: HIGH TO LOW</a></li>
            </ul>
          </div>
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">
              PRICE RANGE
            </h5>
            <ul class="categories">
              <li><a href="shop-grid-right.html">RS 3000-6000</a></li>
              <li><a href="shop-grid-right.html">RS 6000-8000</a></li>
              <li><a href="shop-grid-right.html">Rs 8000-10000</a></li>
              <li><a href="shop-grid-right.html">Rs 10000-12000</a></li>
              <li><a href="shop-grid-right.html">Rs 12000+</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="tab-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="nav-tab-one"
                  data-bs-toggle="tab"
                  data-bs-target="#tab-one"
                  type="button"
                  role="tab"
                  aria-controls="tab-one"
                  aria-selected="true"
                >
                  Featured
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="nav-tab-two"
                  data-bs-toggle="tab"
                  data-bs-target="#tab-two"
                  type="button"
                  role="tab"
                  aria-controls="tab-two"
                  aria-selected="false"
                >
                  Popular
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="nav-tab-three"
                  data-bs-toggle="tab"
                  data-bs-target="#tab-three"
                  type="button"
                  role="tab"
                  aria-controls="tab-three"
                  aria-selected="false"
                >
                  New added
                </button>
              </li>
            </ul>
            <a href="#" class="view-more d-none d-md-flex"
              >View More<i class="fi-rs-angle-double-small-right"></i
            ></a>
          </div>
          <!--End nav-tabs-->
          <div class="tab-content wow fadeIn animated" id="myTabContent">
            <% products.forEach((product, index) => { %> <% if (index % 3 === 0)
            { %>
            <div class="row product-grid-4">
              <% } %>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div
                    class="product-img-action-wrap img-fluid"
                    style="width: 350px; height: 310px;"
                  >
                    <div class="product-img product-img-zoom">
                      <a href="/product/<%= product._id %>">
                        <img
                        src="<%= product.images[0] %>"
                          alt="<%= product.name %>"
                          class="img-fluid rounded"
                        />
                      </a>
                    </div>
                   
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <!-- <a href="#"
                        ><%= product.category %></a
                      > -->
                    </div>
                    <h2>
                      <a href="shop-product-right.html"><%= product.name %></a>
                    </h2>
                    <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div>
                    <div class="product-price">
                      <span>Rs<%= product.selling_price %></span>
                      <span class="old-price">Rs<%= product.price %></span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="/addtocart/<%= product._id %>"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="/addtowishlist"
                        ><i class="fi-rs-heart"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <% if (index % 3 === 2 || index === products.length - 1) { %>
            </div>
            <% } %> <% }); %>
          </div>

          <%-include("../partials/userfooter")-%>
        </div>
      </div>
    </div>
  </section>
</body>
